<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Marathon</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <header>
            <h1>Marathon</h1>
            <h3>Run your code the right way</h3>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/new">New Project</a>
            <a href="/load">Load Project</a>
        </nav>
        <article>
            <h2>What is Marathon?</h2>
            <p>
                Marathon is an online editor and Linux machine for developers who need
                a quick and easy way to run their code. Built on Docker, it has the ability
                to run thousands of languages and access all the software available for Linux,
                all at a blazing-fast speed.
            </p>
            <h2>Features</h2>
            <ul>
                <li>
                    100% Free - Marathon is free and open source, and anyone is free to use and
                    modify it. There is no "pro plan" - all of the features are available to anyone.
                </li>
                <li>
                    Fast - Marathon runs code at near-native speeds, allowing you to develop and test
                    rapidly.
                </li>
                <li>
                    Powerful - Marathon can access thousands of programming languages and distros through
                    the power of Docker. This allows you to use any number of softwares and languages to
                    write your code.
                </li>
            </ul>
            <h2>Getting Started</h2>
            <p>
                Marathon has no concept of a 'user'. Instead, individual projects have their own passwords.
                To get started, simply click on 'Create Project' above, and put in your project name, a
                Docker image to create it with, and a password. Then you can start developing!
            </p>
            <h2>Why the name?</h2>
            <p>
                It is called Marathon because it runs you code, just like someone in a marathon does. See what I
                did there? Puns are great, aren't they?
            </p>
            <h2>Updates and Modifying</h2>
            <p>
                Marathon is still in beta, and updates will be coming as soon as I write them. If you are interested
                in contributing, you can contact me on repl.it (@sugarfi) or Discord (sugarfi#8705).
            </p>
        </article>
    </body>
</html>
